.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.castListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: calc((100% - 16px * 6) / 7);
}

.castImg {
    border-radius: 8px;
    overflow: hidden;
    height: 217px;
    width: 150px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.castName {
    color: var(--default-accent-color);
    text-align: center;
    font-weight: 500;
    margin-bottom: 4px;
}

.castCharacter {
    color: var(--text-color2);
    font-size: 14px;
    text-overflow: ellipsis;
    text-align: center;
}